[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
spacy = "*"
spacy-transformers = "*"
jupyter = "*"
seaborn = "*"
matplotlib = "*"
scikit-learn = "*"
pandas-profiling = "*"
spacy-langdetect = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
